<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QQ侧边栏.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>873E4B691F1E0BAD00CCB400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>873E4B821F1E0BAE00CCB400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>873E4B8D1F1E0BAE00CCB400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
